*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // This defines what 1rem is
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%

  &::after {
    content: "";
    background-image: url(./assets/img/static04.gif);
    background-size: cover;
    opacity: 0.01;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -1;
  }

  body {
    box-sizing: border-box;
    padding: 0;
    background: #fff;
  }
}

@media screen and (min-width: $breakpoint) {
  body {
    padding: 2rem;
  }
}
