body {
  font-family: "Roboto Mono", monospace;
  -webkit-font-smoothing: antialiased;
  font-size: 1.5rem;
  // line-height: 2rem;
  color: #000;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

h1 {
  margin-bottom: 2rem;
  color: #000;
  text-shadow: none;

  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: url(./assets/img/static06.gif);
}

h2 {
  margin-bottom: 1.6rem;
}

.clear {
  display: block;
  height: 0px;
  clear: both;
}

a {
  color: $logo-red;
  font-weight: 700;
  text-decoration: none;
  text-shadow: none;

  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: url(./assets/img/static07.gif);

  &:hover {
    text-decoration: underline;
  }
}

p {
  a {
    border-bottom: 1px solid black;
  }
}
