.admin__nav {
  display: block;
  text-decoration: none;
  // text-align: center;

  &--link {
    font-size: 3.5rem;
    margin-top: 2rem;
    color: black;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: url(./assets/img/static03.gif);
    color: white;
  }

  &--cancel {
    margin: 1rem;
    font-weight: 700;
    font-size: 1.5rem;
    color: $logo-red;
  }
}