.admin-nav {
  // text-align: center;

  &__link {
    display: block;
    text-decoration: none;
    font-size: 3.5rem;
    margin-top: 2rem;
    color: black;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: url(./assets/img/static03.gif);
    color: white;
    text-shadow: none;
  }
}
