.calendar {
  padding: 1rem 0 3rem 0;

  &__add-date {
    margin-bottom: 3rem;
    margin-right: 3rem;
    font-size: 1.2rem;
    display: inline-block;
    color: #000;

    &:hover {
      text-decoration: none;
      font-weight: 700;
      cursor: pointer;
    }
  }

  &__show-all {
    font-size: 1.2rem;
    display: inline-block;
    color: #000;
    float: right;
    font-weight: 700;
    text-transform: uppercase;

    &:hover {
      cursor: pointer;
    }
  }
}
