.logo {
  display: inline-block;

  &__name {
    display: none;
  }
}

@media screen and (min-width: 700px) {
  .logo__name {
    font-weight: 400;
    font-size: 1.6rem;
    text-transform: uppercase;
    text-shadow: none;
    display: block;
    text-align: center;
  }
}
