.messages {
  padding: 1rem 0 3rem 0;

  &__list {
    list-style-type: none;

    .message {
      margin-bottom: 8rem;

      &__timestamp {
        font-size: 1.2rem;
        color: rgb(1, 57, 73);
        margin: 0 0 0.5rem 0;
        text-shadow: 0 0 0;
      }

      &__title {
        font-weight: 700;
        font-size: 1.7rem;
        color: rgb(44, 9, 9);
        margin-bottom: 0.5rem;
        text-shadow: none;
      }

      &__message {
        margin-bottom: 0.5rem;
      }

      &__link {
        text-shadow: none;
        &:after {
          content: " →";
        }
      }

      &__image {
        position: relative;
        float: left;
        margin: 0 2rem 1rem 0;
        transition: all 0.2s;
        cursor: pointer;

        &::after {
          content: "";
          background-image: url(./assets/img/static02.gif);
          background-size: 300px 400px;
          opacity: 0.2;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          position: absolute;
          z-index: -1;
        }

        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          display: block;
          //   box-shadow: 1px 1px 3px #000;
          border: 1px solid black;
        }

        @media screen and (min-width: $breakpoint) {
          img {
            position: relative;
          }
        }
      }
    }
  }

  .private::after {
    content: "PRIVATE";
    color: maroon;
    font-size: 1rem;
  }
}
