.messages {
  &__add-date {
    margin-bottom: 3rem;
    font-size: 1.2rem;
    display: block;
    color: #000;

    &:hover {
      text-decoration: none;
      font-weight: 700;
    }
  }

  &__list {
    list-style-type: none;

    li {
      margin-bottom: 5rem;
    }

    &--timestamp {
      font-size: 1.2rem;
      color: #999;
      margin: 0 0 0.5rem 0;
    }

    &--edit {
      font-size: 1.1rem;
      float: right;

      a {
        color: #333;
        font-weight: 700;
      }
    }

    &--delete {
      color: maroon;
      cursor: pointer;
      font-weight: 700;
    }

    &--cancel-delete {
      color: green;
      cursor: pointer;
      font-weight: 700;
    }

    &--title {
      font-weight: 700;
      font-size: 1.8rem;
      color: #333;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      -webkit-background-clip: text;
      background-image: url(./assets/img/static03.gif);
      color: white;
      margin-bottom: 0.5rem;
    }

    &--message {
      margin-bottom: 0.5rem;
    }

    &--link {
      &:after {
        content: " →";
      }
    }

    &--image {
      position: relative;
      float: left;
      margin: 0 2rem 1rem 0;
      transition: all 0.2s;
      cursor: pointer;

      &::after {
        content: "";
        background-image: url(./assets/img/static02.gif);
        background-size: 300px 400px;
        opacity: 0.2;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
      }

      img {
        width: 100%;
        display: block;
      }
    }

    &--sound {
    }
  }
}
