.sound-player {
  font-size: 1.4rem;
  padding: 0 0 0.5rem 0;

  &__controls {
    display: inline-block;
    width: 5rem;
    font-weight: 700;
    cursor: pointer;
    padding: 0;

    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: url(./assets/img/static01.gif);
    background-size: 12000%;
  }

  &__timer {
    color: #333;
    padding: 0;
  }

  &__progress-bar {
    background-image: url(./assets/img/static04.gif);
    background-size: cover;
    height: 1px;
    display: block;
  }
}
