.home {
  display: grid;
  grid-template-rows: min-content min-content;
  grid-template-areas:
    "sidebar"
    "content";
}

.nav {
  text-align: right;
  float: right;
}

.sidebar {
  grid-area: sidebar;
  margin-bottom: 2rem;
}

.home__content {
  grid-area: content;
  padding: 1rem 0;
}

@media screen and (min-width: 700px) {
  .home {
    display: grid;
    grid-template-columns: 23rem minmax(0, 70rem) auto;
    grid-template-areas: ". content .";
  }

  .nav {
    margin-top: 2rem;
    text-align: center;
    display: block;
    width: 100%;
  }

  .sidebar {
    position: fixed;
    top: 3rem;
    left: 3rem;
    width: 15rem;
  }
}
