// Google fonts
/* prettier-ignore */
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:400,700|IBM+Plex+Mono:400,700|Source+Code+Pro:400,700|Source+Sans+Pro:400,700|Press+Start+2P);
/**
* font-family: 'Roboto Mono', monospace;
* font-family: 'IBM Plex Mono', monospace;
* font-family: 'Source Sans Pro', sans-serif;
* font-family: 'Source Code Pro', monospace;
* font-family: 'Press Start 2P', monospace;
*/

$logo-yellow: #fff200;
$logo-red: #471100;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.4rem;
  font-family: "Roboto Mono", monospace;
  -webkit-font-smoothing: antialiased;
  position: relative;
}

/*********************************
LOADING
*********************************/

.loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  background-image: url(./assets/static02.gif);
  background-size: cover;
  padding: 5rem 4rem;
  font-size: 2rem;
  color: #eee;
  font-family: "Press Start 2P", monospace;
  text-shadow: 0 0 15px rgba(255, 255, 255, 1);
}

/*********************************
TYPOGRAPHY
*********************************/

h1 {
  margin-bottom: 2rem;

  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: url(./assets/static03.gif);
  color: white;
}

.closer {
  text-decoration: none;
  color: #555;
  font-size: 1.2rem;
  display: block;
}

.clear {
  display: block;
  height: 0px;
  clear: both;
}

a {
  text-decoration: none;
  font-weight: 700;

  &:hover {
    text-decoration: underline;
  }
}

/*********************************
FORMS
*********************************/

.flatpickr-mobile {
  background: #fff;
}

input,
textarea {
  display: block;
  width: 100%;
  font-size: 2rem;
  margin: 2rem 0;
  padding: 3px 5px;
  border: 0;
  border-bottom: 1px solid #333;
  font-family: "Roboto Mono", monospace;
}

textarea {
  height: 15rem;
  background-color: #f8f8ff;
}

.inputFile,
.inputCheckbox {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputFile + label,
.inputCheckbox + label {
  display: block;
  font-size: 1.5rem;
  padding: 3px 5px;
  margin: 7px 0;
  text-align: left;
  cursor: pointer;
}

.inputFile:focus + label,
.inputFile + label:hover,
.inputCheckbox + label:hover {
  font-weight: 700;
}

.inputCheckbox + label.selected:after {
  content: " ✔";
}

.transmit-button {
  font-family: "Roboto Mono", monospace;
  font-size: 3.4rem;
  margin-top: 2rem;
  border: 0;
  background-color: #fff;
  text-align: center;
  background-image: url(./assets/static03.gif);
  background-size: cover;
  cursor: pointer;
  color: white;
  display: block;
  width: 100%;
  text-align: center;

  // -webkit-text-fill-color: transparent;
  // background-clip: text;
  // -webkit-background-clip: text;
  // background-image: url(./assets/static03.gif);
  // color: white;
}

/*********************************
BATCH UPLOAD
*********************************/

.batch-upload {
  .inputFile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }

  .inputFile + label {
    display: block;
    font-size: 1.5rem;
    margin: 1rem 0;
    text-align: left;
    cursor: pointer;
    padding: 0;
    font-size: 2rem;
  }

  .inputFile:focus + label,
  .inputFile + label:hover {
    font-weight: 700;
  }

  p {
    font-size: 1.3rem;
    margin: 2rem 0;
  }
}

/*********************************
ADMIN
*********************************/

.admin {
  padding: 2rem 1.5rem;
}

@media screen and (min-width: 700px) {
  .admin {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: ". content .";
  }
}

.adminContent {
  grid-area: content;
}

.logo {
  // display: inline-block;
}

.admin__nav {
  display: block;
  text-decoration: none;
  // text-align: center;

  &--link {
    font-size: 3.5rem;
    margin-top: 2rem;
    color: black;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: url(./assets/static03.gif);
    color: white;
  }

  &--cancel {
    margin: 1rem;
    font-weight: 700;
    font-size: 1.5rem;
    color: $logo-red;
  }
}

/*********************************
MESSAGE LIST
*********************************/

.messages {
  list-style-type: none;

  &__list {
    li {
      margin-bottom: 5rem;

      div {
        margin-bottom: 0.5rem;
      }
    }

    &--timestamp {
      font-size: 1.2rem;
      color: #999;

      a {
        color: #555;
      }
    }

    &--edit {
      font-size: 1.1rem;
    }

    &--delete {
      color: maroon;
      cursor: pointer;
      font-weight: 700;
    }

    &--title {
      font-weight: 700;
      font-size: 1.8rem;
      color: #333;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      -webkit-background-clip: text;
      background-image: url(./assets/static03.gif);
      color: white;
    }

    &--message {
    }

    &--link {
      &:after {
        content: " →";
      }
    }

    &--image {
      position: relative;
      width: 20rem;
      float: left;
      margin: 0 2rem 2rem 0;
      transition: all 0.2s;
      cursor: pointer;

      &::after {
        content: "";
        background-image: url(./assets/static02.gif);
        background-size: 300px 400px;
        opacity: 0.2;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
      }

      img {
        width: 100%;
        display: block;
      }
    }

    &--sound {
    }
  }
}

/*********************************
CALENDAR LIST
*********************************/

.calendar {
  list-style-type: none;

  a {
    color: black;
  }

  &__add-date {
    margin-bottom: 3rem;
    font-weight: 400;
    font-size: 1.4rem;
    display: block;
  }

  &__list {
    li {
      margin-bottom: 5rem;

      div {
        margin-bottom: 0.5rem;
      }
    }

    &--edit {
      font-size: 1.3rem;
    }

    &--delete {
      color: maroon;
      cursor: pointer;
      font-weight: 700;
    }

    &--timestamp {
      font-size: 1.6rem;
      color: #999;

      a {
        color: #555;
      }
    }

    &--title {
      font-size: 1.8rem;
      color: #000;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      -webkit-background-clip: text;
      background-image: url(./assets/static03.gif);
      color: white;
    }

    &--message {
    }

    &--link {
      &:after {
        content: " →";
      }
    }

    &--image {
      position: relative;
      width: 20rem;
      float: left;
      margin: 0 2rem 2rem 0;
      transition: all 0.2s;
      cursor: pointer;

      &::after {
        content: "";
        background-image: url(./assets/static02.gif);
        background-size: 300px 400px;
        opacity: 0.2;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
      }

      img {
        width: 100%;
        display: block;
      }
    }

    &--sound {
    }
  }
}

/*********************************
TYPE LIST
*********************************/

.typelist {
  list-style-type: none;
  margin-bottom: 3rem;

  &__type {
    display: inline-block;
    margin-right: 1rem;
    cursor: pointer;

    &:hover {
      font-weight: 700;
    }
  }
}

/*********************************
SOUND PLAYER
*********************************/

.sound-player {
  line-height: 3rem;
  font-size: 1.4rem;
  &__controls {
    display: inline-block;
    width: 5rem;
    font-weight: 700;
    cursor: pointer;
  }

  &__timer {
    color: #999;
  }

  &__progress-bar {
    background-image: url(./assets/static04.gif);
    background-size: cover;
    height: 1px;
    display: block;
  }
}
