body {
  background: #fff;
  background-size: cover;
  display: grid;
  grid-template-rows: 98vh;
  grid-template-columns: 98vw;
  justify-items: center;
  align-items: center;
}
.logo {
  opacity: 1;
  padding: 20px;
  width: 140px;
  text-align: center;
  font-family: arial;
  font-size: 18px;
  position: relative;
  box-shadow: inset 0 0 35px rgba(0, 0, 0, 1);
  background: #fff;
  border-radius: 5px;
}
img {
  width: 80%;
  margin-bottom: 5px;
  margin-left: -3px;
}
.logo:after {
  content: "";
  background: url("assets/static04.gif");
  width: 100%;
  height: 100%;
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
